<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary.Properties.Settings.FactoryConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Factory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>